div {
    padding: .1rem;
    padding-left: 1rem;
    text-align: left;
    background-color: #3f51b5;
    height: 30px;
    display: flex;
    /* Add this line */
    align-items: center;
    /* Add this line */
}

p {
    margin: 0;
    color: whitesmoke;
}