.container {
    margin: 10px;
    background-color: rgb(242, 249, 252);
    padding: 10px;
    border-radius: 25px;
    border: solid 1px navy;
    box-shadow: 3px 3px;
    width: 600px;
}

.inline-container {
    display: flex;
}

.inline-item {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.success-text {
    color: green;
}

.error-text {
    color: red;
}

/* CSS for the error container */
.error-container {
    margin-top: 10px; /* Add spacing between the success and error sections */
    background-color: #ffcccc; /* Background color for the error container */
    padding: 10px; /* Padding for the error container */
    border: 1px solid #ff0000; /* Red border for the error container */
    border-radius: 4px; /* Rounded corners for the error container */
  }
  
  /* CSS for the error code list */
  .error-container ul {
    list-style-type: square; /* Change the list item marker to squares */
  }
  
  /* CSS for individual error code list items */
  .error-container li {
    color: #ff0000; /* Red text color for error code list items */
    margin-left: 15px; /* Add indentation to the left of list items */
  }
  